@page "/addUser"
@using NojomoApp.Data.UserData

@inject IUserService UserService;
@inject IJSRuntime JSRuntime;
@inject NavigationManager navigationManager

<Validations IsVisible="IsVisible" Result="Result">
    <span>Ususario : </span>@RecordName
</Validations>

<RadzenFieldset Text="Datos del usuario">
    <EditForm Model="@user" OnValidSubmit="@SaveUser">
        <DataAnnotationsValidator />

        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Alias :</label>
            <input @ref="firstNameText" class="form-control col-3" @bind="user.Alias" placeholder="alias" />
            &nbsp;<ValidationMessage For="@(() => user.Alias)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Nombre :</label>
            <InputText class="form-control col-3" @bind-Value="user.Nombre" placeholder="nombre" />
            &nbsp;<ValidationMessage For="@(() => user.Nombre)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Tipo :</label>
            <InputSelect @bind-Value="user.Tipo" class="form-control col-3">
                <option value=0>--Seleccione--</option>
                <option value=1>Administrador</option>
                <option value=2>Agente</option>
                <option value=3>Cliente</option>
            </InputSelect>

            @*<InputNumber class="form-control col-3" @bind-Value="user.Tipo" placeholder="tipo" />
                &nbsp;<ValidationMessage For="@(() => user.Tipo)" />*@
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Precio :</label>
            <InputNumber class="form-control col-3" @bind-Value="user.Precio" placeholder="precio" />
            &nbsp;<ValidationMessage For="@(() => user.Precio)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Email :</label>
            <InputText class="form-control col-3" @bind-Value="user.Email" placeholder="email" />
            &nbsp;<ValidationMessage For="@(() => user.Email)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Telefono:</label>
            <InputText class="form-control col-3" @bind-Value="user.Telefono" placeholder="telefono" />
            &nbsp;<ValidationMessage For="@(() => user.Telefono)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Password :</label>
            <RadzenPassword class="form-control col-3" @bind-Value="user.Password" placeholder="password" />
            @*<InputText  class="form-control col-3" @bind-Value="user.Password" placeholder="password" type="password"/>*@
            &nbsp;<ValidationMessage For="@(() => user.Password)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Confirmar Password :</label>
            <RadzenPassword class="form-control col-3" @bind-Value="user.ConfirmPassword" placeholder="Confirmar password" />
            @*<InputText  class="form-control col-3" @bind-Value="user.Password" placeholder="password" type="password"/>*@
            &nbsp;<ValidationMessage For="@(() => user.ConfirmPassword)" />
        </div>
        <br />

        <br />
        <div class="col-12 row">
            <span class="col-2"></span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Save" />
            @*<span>&nbsp;</span>
                <input type="submit" class="form-control col-1 btn btn-primary" value="Clear" />*@
        </div>
    </EditForm>

</RadzenFieldset>




@code {
    public UserDto user { get; set; }
    ElementReference firstNameText;
    public string[] Tipo { get; set; }

    public bool IsVisible { get; set; }
    public string RecordName { get; set; }
    public bool Result { get; set; }

    protected override void OnInitialized()
    {
        user = new UserDto();
    }


    private async Task SaveUser()
    {
        Result = await UserService.SaveUserServiceAsync(user);
        IsVisible = true;

        var nombre = user.Nombre;
        RecordName = nombre;
        user = new Data.UserData.UserDto();

        //  await JSRuntime.InvokeVoidAsync("saveMessage", nombre);
        await JSRuntime.InvokeVoidAsync("setFocusOnElement", firstNameText);
        //navigationManager.NavigateTo($"/usuarios");


    }

}
